<IfModule mod_negotiation.c>
  Options -MultiViews
</IfModule>
<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirect Trailing Slashes If Not A Folder...
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)/$ /$1 [L,R=301]

  # Handle Front Controller...
  RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.webp|\.jpg|\.jpeg|\.gif|robots\.txt|\.ttf|\.woff|\.woff2|\.svg|\.ico|\.pdf|\.mp4)$ [NC]
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^ index.php [L]

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_URI} !^/public/

  RewriteRule ^(assets|css|js|images|admin_theme|storage)/(.*)$ public/$1/$2 [L,NC]
  RewriteRule ^(css|js|images|theme|storage)/(.*)$ public/$1/$2 [L,NC]


  # Handle Authorization Header
  RewriteCond %{HTTP:Authorization} .
  RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

</IfModule>

<FilesMatch "^\.">
  Order allow,deny
  Deny from all
</FilesMatch>

<Files "*.json">
  Order Deny,Allow
  Deny from all
</Files>

<Files "*.lock">
  Order Deny,Allow
  Deny from all
</Files>

<Limit GET HEAD POST PUT DELETE OPTIONS>
  Order Allow,Deny
  Allow from all
</Limit>